.page--cover {
	.logos {
		display: flex;
		grid-area: 6 / 6 / 12 / 22;
		justify-content: space-between;

		img {
			display: block;
			max-width: 150px;
			width: 100%;
		}
	}

	.page-image {
		grid-area: 14 / 1 / 39 / 28;
	}

	.page-content {
		align-items: center;
		color: v("white");
		display: flex;
		font-size: 12pt;
		font-weight: 700;
		grid-area: 38 / 1 / 39 / 28;
		padding: 0 10mm 10mm;
		position: relative;
		text-transform: uppercase;
		z-index: 100;

		.page-title {
			flex: 0 0 30%;
			font-size: 12pt;
		}

		.client-name {
			flex: 0 0 50%;
		}

		.report-date {
			flex: 0 0 20%;
			text-align: right;
		}
	}
}
