.page--one {
	.strip {
		background-color: v(brand);
		grid-area: 1 / 1 / 39 / 10;
	}

	.page-title {
		color: v(brand);
		grid-area: 20 / 10 / 30 / 24;
		justify-content: flex-start;
		margin-left: 4mm;
		@include style(40pt, 48pt, 700);
	}

	.subtitle {
		color: v("black");
		grid-area: 30 / 10 / 34 / 24;
		margin-left: 4mm;
		@include style(20pt, 24pt, 500);
	}
}
