.page--ten {
	grid-gap: 0;

	.page-header {
		color: v("white");
	}

	.page-background-1 {
		background-color: v(brand);
		grid-area: 1 / 1 / 26 / 27;
	}

	.page-background-2 {
		background-color: adjust-color(
			c(brand),
			$saturation: -34%,
			$lightness: 48%
		);
		grid-area: 25 / 1 / 34 / 27;
	}

	.page-title {
		color: v("white");
		grid-area: 4 / 4 / 5 / 24;
	}

	.training-zone-1 {
		color: v(white);
		grid-area: 7 / 4 / 24 / 24;
		text-align: left;

		tr {
			&:first-child {
				> * {
					border-top: 1px solid;
				}
			}
		}

		th {
			text-align: left;
		}

		td {
			white-space: nowrap;

			&:last-child {
				border-right: none;
				max-width: 50ch;
				text-align: left;
				white-space: normal;
			}
		}
	}

	.training-zone-2 {
		color: v("black");
		grid-area: 26 / 4 / 33 / 24;

		td,
		th {
			height: auto;
			vertical-align: middle;
			width: 20%;

			&:last-child {
				border-right: none;
			}
		}

		td {
			&:first-child {
				text-align: left;
				white-space: nowrap;
			}
		}

		tr {
			&:last-child {
				> * {
					border-bottom: none;
				}
			}
		}
	}

	.zones-description {
		align-items: center;
		display: flex;
		grid-area: 35 / 4 / 38 / 24;
		justify-content: center;
		text-align: justify;
	}
}
