.page--two_no-trainer {
	grid-gap: 0;

	.page-header {
		color: transparentize(c("white"), .8);
	}

	.page-title {
		align-items: flex-end;
		background-color: v(off-black);
		color: v("white");
		grid-area: 1 / 1 / 7 / 27;
		padding-bottom: 10mm;
	}

	.page-image {
		grid-area: 7 / 10 / 39 / 27;
	}

	.toc {
		background-color: v(brand);
		color: v("white");
		grid-area: 7 / 1 / 39 / 10;
		padding: 20mm 10mm;

		&-list {
			+ .toc-list {
				margin-top: 5mm;
			}

			&__title {
				@include style(14pt, 19pt, 600);
				margin-bottom: 5mm;
			}

			&__item {
				@include style(12pt, 17pt);
				padding: 4px 0;
			}
		}
	}
}
