.page--two {
	grid-gap: 0;

	.page-header {
		color: transparentize(c("white"), .8);
	}

	.page-title {
		align-items: flex-end;
		background-color: v(off-black);
		color: v("white");
		grid-area: 1 / 1 / 7 / 27;
		padding-bottom: 10mm;
	}

	.page-image {
		grid-area: 7 / 1 / 24 / 27;
		min-height: 120mm;
	}

	.trainer {
		background-color: hsla(0, 0%, 90%, 1);
		grid-area: 24 / 1 / 39 / 17;
		padding: 10mm;

		&__name {
			color: black;
			margin-bottom: 5mm;
			@include style(14pt, 19pt, 600);
		}

		&__bio {
			@include style(12pt, 17pt);
			text-align: justify;
		}
	}

	.toc {
		background-color: v(brand);
		color: v("white");
		grid-area: 24 / 17 / 39 / 27;
		padding: 10mm;

		&-list {
			+ .toc-list {
				margin-top: 5mm;
			}

			&__title {
				@include style(14pt, 19pt, 600);
				margin-bottom: 5mm;
			}

			&__item {
				@include style(12pt, 17pt);
				padding: 4px 0;
			}
		}
	}
}
