.page--three {
	grid-gap: 0;

	.page-header {
		background-color: v("brand");
		color: v("white");
	}

	.page-graphs {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		grid-area: 11 / 4 / 39 / 24;
		justify-content: center;
		padding: 20mm 0;
	}

	.graph {
		align-items: center;
		display: flex;
		flex-basis: 33%;
		flex-direction: column;
	}

	.page-title {
		background-color: v("brand");
		color: v("white");
		grid-area: 1 / 1 / 11 / 27;
	}

	.subtitle {
		color: v("white");
		grid-area: 7 / 3 / 11 / 25;
		padding: 10mm;
		text-align: center;
		@include style(12pt, 17pt);

		time {
			font-weight: 600;
		}
	}
}
