.page--four {
	grid-gap: 0;

	.page-header {
		color: v("white");
	}

	.page-image {
		grid-area: 1 / 1 / 14 / 27;
	}

	.page-title {
		color: v("black");
		grid-area: 14 / 4 / 19 / 24;
	}

	.page-graph {
		align-items: center;
		grid-area: 19 / 5 / 23 / 23;
	}

	.page-content {
		grid-area: 24 / 4 / 38 / 24;

		.columns-2 {
			hyphens: auto;
			letter-spacing: .1pt;
			widows: 3;
		}

		.results {
			margin-top: 5mm;
		}
	}
}
