.page--five {
	.page-background {
		background-color: v(off-black);
		grid-area: 2 / 1 / 36 / 26;
	}

	.page-title {
		color: v("white");
		grid-area: 3 / 4 / 7 / 24;
	}

	.page-content {
		grid-area: 7 / 3 / 27 / 23;

		> * + * {
			margin-top: 10mm;
		}
	}

	.page-citation {
		color: v("white");
		margin-top: 4mm;
	}

	.endurance-sports,
	.weight-loss {
		&__title {
			margin-bottom: 5mm;
		}

		&__body {
			color: v("white");
			@include style(11pt);
		}
	}

	.nyt {
		background-color: v(brand);
		color: v("white");
		grid-area: 33 / 14 / 39 / 27;
		margin-top: 4mm;
		padding: 7mm 14mm 10mm 7mm;

		&__title {
			height: auto;
			margin-bottom: 2mm;
			width: 40mm;
		}

		&__text {
			@include style(14pt, 18pt, 500);

			a {
				color: v(black);
			}
		}
	}
}
