.page--six {
	grid-gap: 0;

	.page-header {
		color: v("white");
	}

	.page-image {
		grid-area: 1 / 1 / 10 / 27;
	}

	.page-title {
		color: v("black");
		grid-area: 10 / 4 / 14 / 24;
	}

	.page-graph {
		align-items: center;
		display: flex;
		grid-area: 14 / 5 / 18 / 23;
		justify-content: center;
	}

	.page-content {
		grid-area: 19 / 4 / 38 / 24;
	}

	.page-citation {
		margin-top: 8mm;
	}

	.more-about {
		margin-top: 8mm;

		&__title {
			margin-bottom: 4mm;
		}
	}
}
