.page--seven {
	.page-background {
		background: v(off-black) no-repeat 100%/100%
			url("assets/images/mass-breakdown-bg.jpg");
		grid-area: 2 / 1 / 39 / 26;
	}

	.page-title {
		color: v("white");
		grid-area: 5 / 3 / 8 / 24;
	}

	.page-content {
		grid-area: 10 / 3 / 38 / 27;

		img {
			display: block;
		}

		.results {
			background-color: v(black);
			color: v(white);
			padding: 5mm 12mm;
			@include style(16pt, 22pt, 700, italic); // font-size: 16pt;

			small {
				display: block;
				@include style(12pt, 18pt, 400, normal);
			}
		}

		.columns-2 {
			background-color: adjust-color(
				c(brand),
				$saturation: -34%,
				$lightness: 48%
			);
			color: v(black);
			padding: 10mm 15mm 10mm 12mm;
		}
	}
}
