.page--eight {
	.page-title {
		color: v("black");
		grid-area: 2 / 4 / 7 / 24;
	}

	.page-content {
		grid-area: 7 / 4 / 29 / 24;
		margin-top: -4mm;

		.columns-2 {
			orphans: 3;
		}
	}

	.more-about {
		grid-area: 16 / 4 / 29 / 24;
		margin-top: 8mm;

		&__title {
			margin-bottom: 5mm;
		}
	}

	.page-graph {
		align-items: flex-start;
		display: flex;
		grid-area: 30 / 5 / 33 / 23;
		justify-content: center;
		margin-top: -10mm;
	}

	.page-image {
		grid-area: 33 / 1 / 39 / 27;
	}
}
