.page--nine {
	.page-header {
		color: v("white");
	}

	.page-image {
		grid-area: 1 / 1 / 7 / 27;
	}

	.page-title {
		color: v("black");
		grid-area: 7 / 4 / 11 / 24;
	}

	.page-graph {
		grid-area: 11 / 5 / 15 / 23;
	}

	.page-content {
		grid-area: 16 / 4 / 37 / 24;
		margin-top: -4mm;

		h2 {
			margin-bottom: 5mm;
		}

		.results {
			margin-top: 8mm;
		}
	}

	.page-citation {
		margin-top: 8mm;
	}
}
