section.page.page--cover
    header.page-header
        .website.manosEdit #{websiteName}
    .logos
        img.brand-logo.manosEdit(src="http://placehold.it/200")
        img.pnoe-logo(src="assets/svg/pnoe-logo.svg")
    .page-image
        img(src="assets/images/homepage.png")
    .page-content
        h1.page-title Fitness Report
        .client-name.manosEdit #{clientFullName}
        time.report-date.manosEdit(datetime="2019-08-28") #{date}