section.page.page--one
    header.page-header
        .website.manosEdit #{websiteName}
    .strip
    h1.page-title WE ARE<br/>WHAT WE<br/>REPEATEDLY<br/>DO.
    p.subtitle Excellence, then,<br/>is not an act but a habit.