section.page.page--ten
    header.page-header
        .website.manosEdit #{websiteName}
    .page-background-1
    .page-background-2
    h1.page-title Training Zones
    table.training-zone-1
        tr
            th Building Aerobic Capacity
            td.metric-capacity-level.manosEdit 4 HARD
            td.metric-capacity-time.manosEdit 2-10 min
            td.metric-capacity-bpm.manosEdit 161-183 bpm
            td.metric-capacity-text.manosEdit <strong>Benefits</strong>: Increases maximum performance<br /><strong>Feels like</strong>: Muscular fatigue and heavy breathing<br /><strong>Recommended for</strong>: Everybody for shorter exercises
        tr
            th Building Aerobic Stamina
            td.metric-stamina-level.manosEdit 3 MODERATE
            td.metric-stamina-time.manosEdit 10-40 min
            td.metric-stamina-bpm.manosEdit 128-161 bpm
            td.metric-stamina-text.manosEdit <strong>Benefits</strong>: Improves aerobic fitness<br /><strong>Feels like</strong>: Muscular fatigue and heavy breathing<br /><strong>Recommended for</strong>: Everybody for moderately long exercises
        tr
            th(rowspan="2") Metabolic Conditioning
            td.metric-conditioning-level-1.manosEdit 2 LIGHT
            td.metric-conditioning-time-1.manosEdit 40-80 min
            td.metric-conditioning-bpm-1.manosEdit 110-128 bpm
            td.metric-conditioning-text-1.manosEdit <strong>Benefits</strong>: Improves basic endurance and fat burning<br /><strong>Feels like</strong>: Comfortable, easy breathing, low muscle load, light sweating<br /><strong>Recommended for</strong>: Everybody for longer and frequently repeated shorter exercises
        tr
            td.metric-conditioning-level-2.manosEdit 1 VERY LIGHT
            td.metric-conditioning-time-2.manosEdit 20-40 min
            td.metric-conditioning-bpm-2.manosEdit 90-110 bpm
            td.metric-conditioning-text-2.manosEdit <strong>Benefits</strong>: Improves overall health and helps recovery<br /><strong>Feels like</strong>: Very easy for breathing and muscles<br /><strong>Recommended for</strong>: Weight management and active recovery
    table.training-zone-2
        tr
            th
            th Units
            th.metric-date <time class="manosEdit" datetime="2019-08-28">#{date}</time>
            th
            th
        tr
            td VO2 peak
            td ml / min / keygen
            td.metric-vo2peak.manosEdit 41
            td
            td
        tr
            td Anaerobic Threshold
            td at bpm
            td.metric-anaerobic.manosEdit 155
            td
            td
        tr
            td Ventilatory Threshold
            td at bpm
            td.metric-ventilatory.manosEdit 125
            td
            td
        tr
            td Fat-Max
            td at bpm
            td.metric-fatmax.manosEdit 130
            td
            td
    p.zones-description By changing the intensity zone at which we exercise and the time we spend at each zone during our workout, we can change the impact of our training and optimize for the desired results. These training zones will guide your metabolic efficiency and high-intensity training. Based on your metabolic profile, the following training zones have been determined.
