section.page.page--two_no-trainer
    header.page-header
        .website #{websiteName}
    .strip
    h1.page-title Overview
    .page-image
        img(src="assets/images/no-trainer.jpg", alt="")
    .toc
        ul.toc-list
            li.toc-list__title Assessment
            li.toc-list__item Mechanical Efficiency
            li.toc-list__item Cardiorespiratory Fitness
            li.toc-list__item Type II / Fast-twitch Muscles
            li.toc-list__item Type I / Slow-twitch Muscles
            li.toc-list__item Fat Burning Efficiency
            li.toc-list__item Breathing Efficiency