section.page.page--two
    header.page-header
        .website #{websiteName}
    .strip
    h1.page-title Overview
    .page-image
        img.manosEdit(src="assets/images/trainer.jpg", alt="trainer's name")
    .trainer
        h2.trainer__name.manosEdit Eric Bana
        p.trainer__bio.manosEdit Your trainer, Eric Bana is a certified ACSM endurance and strength coach trainer and a PNOE certified metabolic efficiency expert. He holds a BSc in kinesiology from Rutgers University. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed id excepturi optio mollitia aspernatur cumque, accusantium facilis facere quo quas?
    .toc
        ul.toc-list
            li.toc-list__title Assessment
            li.toc-list__item Mechanical Efficiency
            li.toc-list__item Cardiorespiratory Fitness
            li.toc-list__item Type II / Fast-twitch Muscles
            li.toc-list__item Type I / Slow-twitch Muscles
            li.toc-list__item Fat Burning Efficiency
            li.toc-list__item Breathing Efficiency