section.page.page--three
    header.page-header
        .website.manosEdit #{websiteName}
    h1.page-title <span class="manosEdit">#{clientFirstName}'s<span> Asssessment
    .subtitle The <strong>PNOĒ</strong> Analytics metabolic test you completed on <time class="manosEdit" datetime="2019-08-28">#{date}</time> provides unique insights. Take a deep breath and we’ll dive into what it all means.
    .page-graphs
        .graph.graph--mechanical-efficiency
            .graph__title Mechanical<br />Efficiency
        .graph.graph--cardiorespiratory-fitness
            .graph__title Cardiorespiratory<br />Fitness
        .graph.graph--fast-switch-muscles
            .graph__title Type II<br />Fast-twitch muscles
        .graph.graph--slow-switch-muscles
            .graph__title Type I<br />Slow-twitch muscles
        .graph.graph--fat-burning-efficiency
            .graph__title Fat Burning<br />Efficiency
        .graph.graph--breathing-efficiency
            .graph__title Breathing<br />Efficiency