section.page.page--four
    header.page-header
        .website.manosEdit #{websiteName}
    .page-image
        img(src="assets/images/mechanical-efficiency.jpg")
    h1.page-title Mechanical Efficiency
    .page-graph
    .page-content
        .columns-2
            p In order to sustain life and power daily activities, our body utilizes the energy found in nutrients (e.g. fats &amp; carbohydrates). The energy released when nutrients are burnt is also known as calories. However, the conversion of calories into movement is not “perfect”. In fact, only a small portion (~20%) of the calories we burn is converted into movement. The remaining ~80% is converted into heat.
            p The factor by which our body converts energy from nutrients into movement is called mechanical efficiency. It is an important metric for both those who are looking to increase their athletic performance and those who are looking to lose weight.
            p In the case of athletes, mechanical efficiency is one of the principal gauges of performance. It describes how well an athlete can handle energy reserves and how long they can exercise in a specific level of intensity.
            p In the case of weight loss, mechanical efficiency can help detect slowing in a person’s metabolic activity that ultimately leads to the notorious “weight loss plateau”. Excessive cardio training in combination with a low-calorie diet will cause a person’s body to try and conserve energy, in other words, burn less calories for the same movement. As a result, it will be harder to create a caloric deficit (the difference between ingested and burnt calories) which is necessary for weight loss.
        .results <strong>The PNOĒ Analytics metabolic test</strong>&nbsp;computed a Mechanical Efficiency score of&nbsp;<span class="results__value manosEdit">53%</span>. 