section.page.page--five
    header.page-header
        .website.manosEdit #{websiteName}
    .page-background
    h1.page-title More about Mechanical Efficiency
    .page-content
        .endurance-sports
            h2.endurance-sports__title For Endurance Sports
            p.endurance-sports__body.columns-2 Mechanical efficiency has been shown to be a greater predictor of performance compared to VO2max in endurance sports. Often referred to as cycling efficiency or running economy (i.e. mechanicalefficiency in the movement of cycling and running respectively), it ultimately is what every endurance athlete should be aiming for. Ability to generate mechanical power output (i.e. running or cycling movement) by utilizing less energy will ultimately lead to less fatigue and greater ability to perform. In the publication cited, you can read more about the evolution of an elite cyclist’s mechanical efficiency during his preparation, leading up to one of the most famous cycling contests in the world [1].
        .weight-loss
            h2.weight-loss__title For Weight Loss
            .weight-loss__body.columns-2
                p Weight loss plateau (i.e. inability to lose weight despite caloric restriction) is the most common obstacle in weight loss and the most frequent reason behind failed weight loss attempts. Cutting calories and engaging in excessive cardio training can initiate a preservation mode which l causes our body to burn fewer calories for the same amount of movement. In other words, each minute on the treadmill or in the office will result in less calories being burnt. Consequently, creating a deficit between the calories we eat and those we burn becomes harder, and so does losing weight, since weight loss is ultimately exclusively determined by the difference between caloric intake and output.
                p You are probably familiar with the case of the contestants of "The Biggest Loser", the famous weight loss TV show which got people to lose hundreds of pounds in just a matter of months. However, nearly all contestants gained back the weight they lost and some even weight more now. This frightening but amazing development led scientists to look into the underlying cause behind the contestants' fierce tendency to regain weight. The problem was inevitably related to the contestants' metabolism. After months of extreme dieting and exercise, their metabolic rate slowed down dramatically and so did the number of calories their bodies burned. In the words of the New York Times article describing the case of a contestant: "As he regained more than 100 pounds, his metabolism slowed so much that, just to maintain his current weight of 295 pounds, he now has to eat 800 calories a day less than a typical man his size. Anything more turns to fat." Understanding whether or not your diet or exercise is harming your metabolism and making your body burn fewer calories is the single most important factor in shedding weight sustainably.
        small.page-citation [1] P. Pietro, "Cycling on Earth, in Space, on the Moon", European Journal of Applied Physiology 82, 345 (2000).
    .nyt
        img.nyt__title(src="assets/svg/nyt-logo.svg")
        p.nyt__text If you want to learn more about the story of the participants in The Biggest Loser <a href="#0" target="_blank">click here</a>