section.page.page--six
    header.page-header
        .website.manosEdit #{websiteName}
    .page-image
        img(src="assets/images/cardiorespiratory-fitness.jpg")
    h1.page-title Cardiorespiratory Fitness
    .page-graph
    .page-content
        .columns-2
            p Cardiorespiratory Fitness is the ability of the heart, blood cells, and lungs to supply oxygen-rich blood to the working muscles. According to the American Heart Association, Cardiorespiratory Fitness constitutes the strongest predictor for heart disease, stronger than any other risk factor, including hypertension, smoking or cholesterol.
            p.results <strong>The PNOĒ Analytics metabolic test</strong> computed your Cardiorespiratory Fitness score of <span class="results__value manosEdit">71%</span> based on the VO2 peak value of <span class="results__value manosEdit">41</span> ml/min/kg attained during the ramp increase
            p.manosEdit Based on your last PNOĒ test, your Cardiorespiratory Fitness score is good. Keeping your current training and weight level will help you maintain it. According to the American Heart Association, cardiovascular fitness is associated with reduced blood pressure, reduced risk of developing coronary heart disease, lower incidence of diabetes, and decreased risk of stroke and heart attack. It is highly essential for your wellbeing to maintain it at high levels.
        .more-about
            h2.more-about__title More about Cardiorespiratory Fitness
            .columns-2
                p According to the American Heart Association, after a thorough review of information from thousands of individuals over the past 30 years, for every unit increase in your VO2 peak, your risk of heart disease is decreased by 13% [2].
                p Cardio-respiratory fitness, in combination with several other markers in your breath, can provide a powerful diagnostic tool for cardiovascular disease, such as coronary artery disease and heart failure. An ever-growing number of physicians are beginning to utilize it as an effective tool to accurately detect the presence of lattent heart disease that hasn’t yet manifested itself.
        small.page-citation [2] Ross, Robert, et al. “Importance of Assessing Cardiorespiratory Fitness in Clinical Practice: A Case or Fitness as a Clinical Vital Sign: A Scientific Statement From the American Heart Association.” Circulation, vol. 134, no. 24, 2016, doi:10.1161/cir.0000000000000461.
