section.page.page--seven
    header.page-header
        .website.manosEdit #{websiteName}
    .page-background
    h1.page-title Type I / Type II Muscle Mass Breakdown
    .page-content
        img(src="assets/images/mass-breakdown.jpg")
        .results
            small The PNOĒ Analytics metabolic test computed a muscle fiber breakdown of:
            <span class="results__value manosEdit">55%</span> Type I muscle fibers - <span class="results__value manosEdit">45%</span> Type II muscle fibers
        .columns-2
            p Human muscles comprise 2 types of fibers: Type I, or slow-twitch muscle fibers, and Type II, or fast-twitch muscle fibers.
            p Type I, or slow-twitch muscle fibers, are energetically efficient, meaning that they convert higher amounts of chemical energy (i.e. energy found in nutrients like fats and carbohydrates) into useful mechanical work (i.e. body movement/weight lifting), thus generating less heat waste and fatigue. They are used primarily during long distance sports and are the dominant muscle fiber type in endurance athletes. Their limitation is that they cannot exert high amounts of force in short periods of time, and thus cannot be used in explosive movements, like high-intensity training or weight lifting.
            p Type II, or fast-twitch muscle fibers, are energetically inefficient, meaning that they convert smaller amounts of chemical energy (i.e. energy found in nutrients like fats and carbohydrates) into useful mechanical work (i.e. body movement/weight lifting), thus generating more heat waste and fatigue. They are used primarily during explosive movements (e.g. weight lifting) and are the dominant muscle fibers of athletes focusing on weight lifting or explosive sports (e.g. CrossFit).
            p the breakdown between Type I &amp; II muscle fibers are closely correlated. Specifically, the higher the person’s mechanical efficiency, the higher the concentration of Type I muscle fibers.