section.page.page--eight
    header.page-header
        .website.manosEdit #{websiteName}
    h1.page-title Fat Burning Efficiency
    .page-content
        .columns-2
            p Fat burning efficiency refers to our body’s ability to utilize fat as  exercise intensity increases. Our body’s ability to utilize fat as a fuel source is dependent on our mitochondria and their capacity to oxidize fat molecules. This is also known as mitochondrial health.
            p The higher our fat burning efficiency is, the more fat our body will be able to burn throughout the day and during a workout.
            p.results <strong>Your PNOĒ Analytics metabolic test</strong> computed a Fat Burning Efficiency score of <span class="results__value manosEdit">79%</span>.
            p.manosEdit Based on your last PNOĒ test, your Fat Burning Efficiency is excellent. Increased fat burning efficiency is associated with low probability of weight gain or weight regain in the case of a prior weight loss attempt. Moreover, it is associated with increased performance in endurance sports and physical exercise in general. Take a look at our aerobic training recommendations on how to increase your fat burning efficiency.
        .more-about
            h2.more-about__title More about Fat Burning Efficiency
            .columns-2
                p Fat, along with carbohydrates, are the two most commonly used fuel sources in the human body. Our body’s ability to utilize fat as a fuel source is dependent on how “well-trained” our cells are to burn and extract energy out of them. This ability is what many refer to as cellular health.
                p Our cells ability to burn fat is determined by several factors and that’s something that can be trained. Low- to medium- intensity cardio training is one of the most powerful and effective that can positively increase our body’s ability to utilize fat. On the other hand, nutrition also plays a major role in our fat burning capacity. Specifically, high-fat diets have been shown to promote fat oxidation during exercise, as well as during the day. On the contrary, high-fat diets have also been shown to reduce performance during high-intensity training. As a result, switching between high-fat and high-carbohydrate diets, depending on the fitness goal or the phase of the training plan, is key to maximizing chances of success [3].

        small.page-citation [3] Purdom et al. Journal of the International Society of Sports Nutrition (2018) 15:3 DOI 10.1186/s12970-018-0207-1
    .page-graph
    .page-image
        img(src="assets/images/fat-burning.jpg")