section.page.page--nine
    header.page-header
        .website.manosEdit #{websiteName}
    .page-image
        img(src="assets/images/breathing-efficiency.jpg")
    h1.page-title Breathing Efficiency
    .page-graph
    .page-content
        h2 Posture &amp; Breathing Efficiency
        .columns-2
           p The way we breathe is the way we stand. Several professionals from the physical therapy and chiropractic industry have empirically known and abided by that truth, but had never before been able to quantify it. The PNOĒ breath test changes that, by allowing you to objectively quantify how effective your breathing is and how it can affect your posture. Research has shown that biomarkers in our breath, such as breathing frequency and CO2 levels, provide some of the strongest predictors for myoskeletal problems, such as lower back pain. In other words, Breathing Pattern Disorders (BPD) have the ability to tell us whether a person is likely to develop body imbalances and other mobility problems [4].
           p BPD can also have widespread implications in a person’s life and is proven to be a foundational element of respiratory and psychological health. Specifically, breathing disorders can exacerbate conditions like asthma or psychological stress. For example, dysfunctional breathing can complicate asthma treatment, resulting in disproportionate levels of dyspnoea and several symptoms that cannot be medically explained or treated with standard asthma medication [5].
           p Incorrect breathing can be manifested in several ways, including hyperventilation (breathing abnormally fast), mouth breathing or interruptions in air volume exchange between the lungs and the environment. For example, mouth breathing has been shown to decrease lung function and, in some cases, to initiate asthma symptoms. It has also been shown to have negative effects on respiratory biomechanics and posture. Therefore, diagnosing breathing disorders early on and identifying their underlying cause is essential, as they might be the driver for several health conditions, from lower back pain to respiratory problems.
        p.results <strong>The PNOĒ Analytics metabolic test</strong> computed a Breathing Efficiency score of <span class="results__value manosEdit">85%</span>.
        small.page-citation [4] Int J Sports Phys Ther. 2014 Feb; 9(1): 28–39; PMCID: PMC3924606<br />[5] ERJ Open Research 2017 3: 00065-2017; DOI: 10.1183/23120541.00065-2017
