//- Variables
- var websiteName = 'www.mypnoe.com'
- var date = '08/28/2019'
- var clientFirstName = 'Kevin'
- var clientLastName = 'Jones'
- var clientFullName = clientFirstName + ' ' + clientLastName


html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='0')
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='style.css')
        title PNOĒ Reports - Exercise
    body
        include print-info.pug
        include pages/0.pug
        include pages/1.pug
        include pages/2.pug
        include pages/2-fallback.pug
        include pages/3.pug
        include pages/4.pug
        include pages/5.pug
        include pages/6.pug
        include pages/7.pug
        include pages/8.pug
        include pages/9.pug
        include pages/10.pug

    script(src="js/app.js")