.print-info
    .print-info__body
        p.print-info__description In the print dialog click "More settings" and check that:
        ul.print-info__checklist
            li.print-info__checklist-item Margins = <strong>"None"</strong> is selected
            li.print-info__checklist-item Options = <strong>"Background graphics"</strong> is checked
    .print-info__actions
        button.print-info__button(onclick='window.print()') Print!