*,
*:before,
*:after {
	box-sizing: border-box;
	// outline: 1px solid red;
}

html {
	color: v(body);
	font-family: "Whitney", system, -apple-system, ".SFNSText-Regular",
		"San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
		sans-serif;
	@include style(11pt, 14pt, 300);
}

body {
	color: v("body");
	margin: 0;

	@media only screen {
		margin: 15mm;
	}
}

p {
	margin: 0;

	+ p {
		margin-top: 4mm;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
	}
}

h2 {
	color: v("brand");
	font-size: 14pt;
	font-weight: 600;
	line-height: 16pt;
}

img {
	height: auto;
	max-width: 100%;
	page-break-inside: avoid;
	width: 100%;

	&.fit {
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

strong {
	font-weight: 600;
}

small {
	font-size: 10pt;
	line-height: 13pt;
}

table {
	border-collapse: collapse;
	border-color: v("white");
	border-spacing: 0;
	font-size: 10pt;
	line-height: 12pt;
	text-align: center;

	tr {
		> * {
			border-bottom: 1px solid;
		}
	}

	th {
		border-right: 1px solid;
		font-weight: 600;
		padding: 2mm;
		vertical-align: top;
	}

	td {
		border-right: 1px solid;
		padding: 2mm;
		vertical-align: top;
	}
}

a {
	&[href^="http"] {
		@media print {
			&:after {
				content: " < " attr(href) "> ";
			}
		}
	}
}
