// @font-face {
// 	font-family: "Brandon Grotesque Regular Italic";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local("Brandon Grotesque Regular Italic"),
// 		url("assets/fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff")
// 			format("woff");
// }

// @font-face {
// 	font-family: "Brandon Grotesque Thin Italic";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local("Brandon Grotesque Thin Italic"),
// 		url("assets/fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.woff")
// 			format("woff");
// }

// @font-face {
// 	font-family: "Brandon Grotesque Light";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local("Brandon Grotesque Light"),
// 		url("assets/fonts/brandon-grotesque-light-58a8a4b38001d.woff")
// 			format("woff");
// }

// @font-face {
// 	font-family: "Brandon Grotesque Light Italic";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local("Brandon Grotesque Light Italic"),
// 		url("assets/fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff")
// 			format("woff");
// }

// @font-face {
// 	font-family: "Brandon Grotesque Medium Italic";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local("Brandon Grotesque Medium Italic"),
// 		url("assets/fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff")
// 			format("woff");
// }

// @font-face {
// 	font-family: "Brandon Grotesque Bold Italic";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local("Brandon Grotesque Bold Italic"),
// 		url("assets/fonts/brandon-grotesque-bold-italic-58a8a48221563.woff")
// 			format("woff");
// }

// @font-face {
// 	font-family: "Brandon Grotesque Black";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local("Brandon Grotesque Black"),
// 		url("assets/fonts/brandon-grotesque-black-58a8a3e824392.woff")
// 			format("woff");
// }

@font-face {
	font-family: "Whitney";
	font-style: normal;
	font-weight: 300;
	src: url("assets/fonts/Whitney-Light.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: italic;
	font-weight: 300;
	src: url("assets/fonts/Whitney-LightItal.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: normal;
	font-weight: 400;
	src: url("assets/fonts/Whitney-Book.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: italic;
	font-weight: 400;
	src: url("assets/fonts/Whitney-BookItal.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: normal;
	font-weight: 500;
	src: url("assets/fonts/Whitney-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: italic;
	font-weight: 500;
	src: url("assets/fonts/Whitney-MediumItal.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: normal;
	font-weight: 600;
	src: url("assets/fonts/Whitney-Semibld.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: italic;
	font-weight: 600;
	src: url("assets/fonts/Whitney-SemibldItal.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: normal;
	font-weight: 700;
	src: url("assets/fonts/Whitney-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: italic;
	font-weight: 700;
	src: url("assets/fonts/Whitney-BoldItal.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: normal;
	font-weight: 900;
	src: url("assets/fonts/Whitney-Black.otf") format("opentype");
}

@font-face {
	font-family: "Whitney";
	font-style: italic;
	font-weight: 900;
	src: url("assets/fonts/Whitney-BlackItal.otf") format("opentype");
}
