svg.circle-graph {
	--stroke-width: 100px;
	height: 35mm;
	order: -1;
	width: 35mm;

	circle {
		fill: none;
		stroke-linecap: round;
		stroke-width: v(stroke-width);
	}

	.graph-value {
		fill: v(brand);
		font-size: 70px;
		font-weight: 600;
		line-height: 1;
	}

	.background-circle {
		stroke: darken(c("white"), 5%);
	}

	.foreground-circle {
		stroke: url("#pattern");
	}

	.blending-circle {
		mix-blend-mode: color;
		stroke: v(brand);

		@supports (-moz-appearance: none) {
			filter: brightness(1.2);
			mix-blend-mode: color-burn;
		}
	}

	.foreground-circle,
	.blending-circle {
		stroke-dasharray: calc((2 * 3.14) * 200px);
		stroke-dashoffset: calc((2 * 3.14) * (200 - (0 * 2)));
		transform: rotate(270deg);
		transform-origin: 50% 50%;
		transition: stroke-dashoffset .5s ease;
	}

	.gradient-image {
		transform: rotate(95deg);
		transform-origin: 50% 50%;
	}
}

.graph {
	&__title {
		color: rgba(110, 110, 110, .5);
		font-size: 12pt;
		font-weight: 600;
		line-height: 17pt;
		margin-top: 5mm;
		text-align: center;
	}
}

/**
 *
 * Bar Graph
 *
 */

svg.bar-graph {
	height: auto;
	width: 100%;

	.background-bar {
		fill: transparentize(c(brand), .6);
	}

	.meter-bar {
		fill: v(brand);
		filter: drop-shadow(0 0 4px rgba(c(brand), .2));
		transition: width 300ms ease;
		width: var(--perc);
		will-change: width;

		&--mask {
			fill: white;
			filter: none;
		}
	}

	.legend-text {
		fill: v(brand);
		font-size: .5rem;
		font-weight: 700;
	}

	.bar-text {
		fill: darken(c(brand), 15%);
		font-size: .65rem;
		font-weight: 900;
		text-transform: uppercase;

		&--hidden {
			fill: white;
		}
	}

	line {
		fill: none;
		stroke: v(brand);
		stroke-linecap: round;
		stroke-miterlimit: 10;
	}
}

/**
 *
 * Donut Graph
 *
 */

svg.donut-graph {
	--stroke-width: 10;

	*[class^="donut"] {
		fill: transparent;
		stroke-width: v(stroke-width);
	}

	.donut {
		&-mask {
			stroke: white;
		}

		&-background {
			fill: v(off-white);
		}
	}
}
