// Get CSSS4 Var
@function v($name) {
	@return var(--#{$name});
}

// Grid multiplier
@function grid($multiply) {
	@return calc(var(--grid-base) * #{$multiply});
}

// Get SCSS Color Var
@function c($name) {
	@if map-has-key($colors, $name) {
		@return map-get($colors, $name);
	} @else if map-has-key($theme-colors, $name) {
		@return map-get($theme-colors, $name);
	} @else if map-has-key($theme-support-colors, $name) {
		@return map-get($theme-support-colors, $name);
	}

	@return null;
}

/*========================================
=            Transition mixin            =
=========================================*/
@mixin transition($p, $d: var(--t-normal), $e: ease) {
	@include transition-duration($d);
	@include transition-property($p);
	@include transition-timing-function($e);
}

@mixin transition-duration($d...) {
	transition-duration: $d;
}
@mixin transition-property($p...) {
	transition-property: $p;
}
@mixin transition-timing-function($e...) {
	transition-timing-function: $e;
}

/*=====  End of Transition mixin  ======*/

/*==================================
=            Font mixin            =
===================================*/

@mixin font(
	$s: v(f-normal),
	$c: v(text-on-bg),
	$w: v(fw-normal),
	$lh: v(line-height)
) {
	color: $c;
	font-size: $s;
	font-weight: $w;
	line-height: $lh;
}

/*=====  End of Font mixin  ======*/

/*=============================================
=            Force 3D Acceleration            =
=============================================*/

@mixin accelerate($name) {
	backface-visibility: hiddeen;
	perspective: 1000px;
	transform: translateZ(0);
	will-change: $name;
}

/*=====  End of Force 3D Acceleration  ======*/

/*======================================
=            Truncate Lines            =
=======================================*/

@mixin max-lines($lines, $lh: var(--lineHeight)) {
	max-height: calc(#{$lh} * #{$lines});
	overflow: hidden;
}

/*=====  End of Truncate Lines  ======*/

/*========================================
=            Fluid Typography            =
========================================*/

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(
					#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
						((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
				);
			}

			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

/*=====  End of Fluid Typography  ======*/

/*==================================
=            Font-Style            =
===================================*/

@mixin style($fsz: inherit, $lh: inherit, $fw: inherit, $fs: normal) {
	font-size: $fsz;
	font-style: $fs;
	font-weight: $fw;
	line-height: $lh;
}

/*=====  End of Font-Style  ======*/
