.page {
	background-color: #fff;
	display: grid;
	grid-gap: v("grid-gap");
	grid-template-columns: 10mm repeat(24, 1fr) 10mm;
	grid-template-rows: [header] 16mm repeat(36, 1fr) 10mm;
	height: 297mm;
	min-height: 297mm;
	overflow: hidden;
	page-break-after: always;
	width: 210mm;

	@media only screen {
		box-shadow: 0 0 10mm -5mm rgba(0, 0, 0, .2);
		// margin: 0 auto;

		+ .page {
			margin-top: 10mm;
		}
	}

	&-title {
		align-items: center;
		display: flex;
		justify-content: center;
		@include style(26pt, 28pt, 700);
	}

	&-header {
		align-items: flex-end;
		color: transparentize(c("black"), .7);
		display: flex;
		grid-area: 1 / 1 / 1 / 27;
		justify-content: flex-end;
		padding: 15px calc(38px + 15px) 0;
		position: relative;
		z-index: 100;

		.logo {
			height: auto;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, calc(-50% + 7.5px));
			width: 10%;
		}

		.website {
			display: inline-block;
			@include style(12pt, inherit, 500);
		}
	}

	&-content {
		&--white {
			color: v("white");
		}
	}

	&-citation {
		@extend small;
		display: block;
		margin-top: 4mm;
		opacity: .5;
	}

	&-image {
		overflow: hidden;
		position: relative;

		img {
			height: 100%;
			left: 0;
			object-fit: cover;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	&-graph {
		display: flex;
		justify-content: center;
	}
}
