.print-info {
	background-color: v("black");
	border-radius: 2mm;
	bottom: 4mm;
	box-shadow: 0 0 10mm -4mm rgba(0, 0, 0, .5);
	color: v("white");
	height: auto;
	max-width: 100mm;
	padding: 8mm;
	position: fixed;
	right: 4mm;
	width: 100%;
	width: auto;
	z-index: 1000;

	@media print {
		display: none;
	}

	&__description {
		@include style(14pt, 20pt, 600);
	}

	&__checklist {
		margin: 4mm 0 8mm;
		@include style(12pt, 20pt);
	}

	&__actions {
		text-align: right;
	}

	&__button {
		-webkit-appearance: none;
		background-color: v(white);
		border: none;
		border-radius: 2mm;
		cursor: pointer;
		font-family: inherit;
		padding: 2mm 4mm;
		@include style(14pt, 14pt, 700);
	}
}
