$colors: (
	"black": hsla(0, 0%, 0%, 1),
	"off-black": hsla(0, 0%, 0%, .8),
	"white": hsla(0, 0%, 100%, 1),
	"off-white": hsla(0, 0%, 96%, 1),
	"transparent": hsla(0, 0%, 0%, 0),
	"body": rgba(110, 110, 110, 1)
);

$theme-colors: (
	"brand": hsla(181, 100%, 40%, 1),
	"brand2": hsla(214, 100%, 50%, 1)
);

:root {
	// Generic Colors
	@each $name, $color in $colors {
		--#{$name}: #{$color};
	}

	// Theme Colors
	@each $name, $color in $theme-colors {
		--#{$name}: #{$color};
	}

	// Generic Variables
	--grid-gap: 4mm;
}
